* {
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif; 
}
.container {
  max-width: 1200px;
  margin: auto;  
}
.header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 44px 0 40px 0;
}
.input {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}
.input-address {
    height: 40px;
    width: 690px;
    background-image: url(../img/home.svg);
}
.input-search {
  background-image: url(../img/search.svg);
 }
.buttons {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  padding: 8px 16px;
  background: #FFFFFF;
  color: #595959;
  }
.button-primary {
  margin-right: 10px;
  color: #FFFFFF;
  border: 1px solid  #1890FF;
  background: #1890FF;
}
.button-icon {
  margin-right: 6px;
  vertical-align: middle;
}
.button-text {
  vertical-align: middle;
}
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-image.png) no-repeat bottom right/contain;
  border-radius: 10px;
  padding: 60px 70px;
  margin-bottom: 40px;
}
.promo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
  margin-bottom: 15px;
} 
.promo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
  max-width: 538px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0px;
}
.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-image {
  height: 250px;
  width: 384px;
  object-fit: cover;
}
.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}
.card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0px;
}
.card-text {
  padding: 20px 24px 33px 24px;
}
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px 0px 8px;
}
.card-info {
  display: flex;
  align-items: center;
}
.rating {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;
  margin-right: 24px;
 }
.price, .category {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.price {
  margin-right: 10px;
}
.price:after {
  content:"";
  width: 5px;
  height: 5px;
  background-color: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}